src/main/mule/github-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b3fd4f34-9340-41df-b8a8-b9af92c93abb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-demoFlow" doc:id="9450ae17-b6fb-4f09-bf58-2f9e92a40df4" >
		<http:listener doc:name="Listener" doc:id="f2d235ed-4098-4146-a484-c8c44aff6a79" config-ref="HTTP_Listener_config" path="/github"/>
		<ee:transform doc:name="Transform Message" doc:id="d034e9d2-6aee-4412-bc24-b9736d778cbe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "welcome to github"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3ef1e4d3-d3b4-4489-b25e-ae7e2513961b" message="#[payload]"/>
	</flow>
</mule>
